/*================ TOPOGRAFIA =====================*/
.heading-md {
  font: 700 1.75rem var(--font-family-baloo2);
}

.heading-sm {
  font: 700 1.125rem var(--font-family-baloo2);
}

.body-md {
  font: 400 1rem var(--font-family-opensans);
}
.body-md-lighter {
  font: 300 1rem var(--font-family-opensans);
}

.body-sm {
  font: 400 .875rem var(--font-family-opensans);
}

.body-xs {
  font: 400 .75 var(--font-family-opensans);
}

/*=================== CORES =================*/

.brand-light {
  color: #59B2FF;
} 

.brand-mid {
  color: #3487CF;
}

.brand-drak {
  color: #1D6FB6;
}

.color-text-heading {
  color: #F9F9F9;
}

.color-text-body {
  color:#c8cdd0; 
}
 
.color-shape-background {
  color:#131516; 
}
 
.color-shape-body {
  color:#212427; 
}
 
.color-shape-button {
  color:#2d3136; 
}
 
.color-shape-hover {
  color:#383d42; 
}
 
.color-input-base {
  color:#1c1f21; 
}
 
.color-input-stroke {
  color:#363b40; 
}
 
.color-input-placeholder {
  color:#869198; 
}
 
/* GERAL */
.grid {
  display: grid;
}

.grid-auto-coluns {
  /* grid-template-columns: 100px 100px; */
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr))
}
.gap-1 {
  gap: 1rem;
}


